<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="sessionFactory" class="com.project.repository.orm.SessionFactoryInit">

    </bean>


    <bean id="clientRepository" class="com.project.repository.orm.ClientORMRepository">
        <constructor-arg ref="sessionFactory"/>
    </bean>

    <bean id="service" class="com.project.service.ServiceCodex" autowire="byName">
        <constructor-arg ref="clientRepository"/>
    </bean>



    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" autowire="byName">

    </bean>


</beans>